@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    box-sizing: border-box;
    font-family: Lato, Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    text-align: center;
    background-color: #22223b;
}
main{
    margin: .5rem 0rem;
    padding: .3rem;
    background-color: #f2e9e4;
    border-radius: 10px;
}
label, textarea, #commtBtn, #username{
    display: block;
    text-align: start;
    width: 100%;
   
    
}
textarea:focus, input:focus{
    outline: none;
    background-color: #f0e6ef;
    color: black;
}
fieldset{
    max-width: 500px;
    margin: auto;
    background-color: #22223b;
    color: #f2e9e4;
}
input{
    margin: .3rem;
    padding: .7rem;
    font-size: 18px;
}
h1, footer{
    color: #f2e9e4;
}
embed{
    width: 100%;
    height: 400px;
}
a{
    display: block;
    margin: .3rem;
    padding: .3rem;
    text-decoration: none;
}
a:hover{
    background-color: pink;
}
#home-img{
    border: 5px solid #22223b;
    width: 60%;
}
.kitties{
    width: 500px;
}
.pokeImg img:hover{
    transform: scale(1.5);
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}
#region-details ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#results{
    background-color: #22223b;
    color: #f2e9e4;
    padding: .5rem;
    border-radius: 5px;
    animation-name: wow;
    animation-duration: 2s;
}
@keyframes wow {
    33% {
      width: 20px;
      height: 20px;
      font-size: 14px;
    }
    66% {
      width: 35px;
      height: 35px;
      font-size: 30px;
    }
    100% {
      width: 20px;
      height: 20px;
      font-size: 14px;
    }
  }
.pokemon-info{
    margin: .5rem;
    border: 1px solid #22223b;
}
#searchBtn, #commtBtn{
    margin: .3rem;
    padding: .5rem;
    color: #f2e9e4;
    background-color: #4A4E69;
}
#searchBtn:hover, #commtBtn:hover{
    background-color: #22223b;
    cursor: pointer;
}
#primaryNav li a{
    color: #f2e9e4;
    padding: .5rem;
}
#primaryNav li a:hover{
    color: #22223b;
}
#primaryNav li{
    padding: .1rem;
}
#primaryNav, #hamburgerBtn span:nth-child(2), #hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#primaryNav.open, #hamburgerBtn span:nth-child(1), #hamburgerBtn.open span:nth-child(2) {
    display: block;
}
footer{
    margin: .5rem;
}


@media screen and (min-width: 500px) {
    main{
        margin: 1rem 5rem;
        padding: 1rem;

    }
    embed{
        width: 80%;
        height: 500px;

    }
    #home-img{
        width: 30%;
    }
}